SQLSERVER_SA_PASSWORD=CHANGE_ME
API_CONNECTION_STRING=Server=sqlserver,1433;Database=ShortLink;User Id=sa;Password=CHANGE_ME;Encrypt=False;TrustServerCertificate=True
API_REDIS_CONNECTION=redis:6379
JWT_SECRET_KEY=CHANGE_ME_USE_A_LONG_RANDOM_VALUE
JWT_ISSUER=ShortLink
JWT_AUDIENCE=ShortLink
SEED_ADMIN_EMAIL=admin@shortlink.com
SEED_ADMIN_PASSWORD=ChangeMe123!
INTERNAL_SECURE_TOKEN=CHANGE_ME
REDIRECTOR_CON_STR=sqlserver://sa:CHANGE_ME@sqlserver:1433?database=ShortLink&encrypt=disable
REDIS_ADDRESS=redis:6379
REDIS_PASSWORD=
CS_API_URL=http://shortlink-api:5000/api/v1/clickevent
